@model Erp.Data.Entities.Urun

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alasim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alasim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlasimNormu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlasimNormu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAgirligi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAgirligi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunKalipNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunKalipNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalipCinsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalipCinsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunParcaAdeti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunParcaAdeti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalipCevrimSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalipCevrimSuresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BesleyiciStokKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BesleyiciStokKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BesleyiciAdeti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BesleyiciAdeti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
