@model Erp.Data.Entities.Stok

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stok</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaGrup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaGrup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltGrup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltGrup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaBirim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaBirim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarsayilanTedarikci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarsayilanTedarikci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternatifTedarikci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternatifTedarikci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonAlisFiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonAlisFiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisFiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisFiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KdvOrani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KdvOrani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumStok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumStok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KritikStok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KritikStok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiderKategorisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiderKategorisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaliyetTuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaliyetTuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasrafMerkezi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasrafMerkezi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
